@media screen and (max-width: 1550px) {

}
@media screen and (max-width: 1385px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1130px) {

}
@media screen and (max-width: 960px) {

}
@media screen and (max-width: 760px) {
  
}
@media screen and (max-width: 728px){
   .form-banner
    {
        margin-left: 14%;
        margin-right: 5%;
        display: none;
    }
    .inner
    {
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 500px) {
    .form-banner
    {
        margin-left: 14%;
        margin-right: 5%;
        display: none;
    }
    .inner
    {
        padding-bottom: 40px;
    }
    .content-indicadores {
        display: block;
    }
    .indicador{
        width: 100%;
        padding-bottom: 0px;
        padding-top: 11px;
        height: 155px;
    }
    .servicios
    {
        margin-top: 440px;
    }
    .dv-serviciont 
    {
        width: 100%;
    }
    .colaboradores .dv-colaboradorint
    {
        width: 100%;
    }
    .dv-noticiant {
        width: 100%;
    }
    .columna-footer
    {
        display: block !important;
        width: 100% !important;
        text-align: center;
    }

}