/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #333;*/

}
body {
  color: #000;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  /*display: table-cell;
  vertical-align: top;*/
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding-top: 40px;
    padding-bottom: 80px;
    padding-right: 7%;
    padding-left: 7%;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
}

.masthead-nav > li:hover {
  
}


.masthead-nav > li + li {
  margin-left: 0px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 14px;
  font-weight: 600;
  color: #fff; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  color: #C99B65;
  background-color: transparent;
  /*border-bottom-color: #C99B65;
  border-bottom-color: rgba(255,255,255,.25);*/
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #C99B65;
  border-bottom-color: #C99B65;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
    width: 70%;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/ 
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

/********* Home *********/

.logo
{
  margin-top: -10%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    width: 100%;
}

.form-banner
{
  margin-top: -35%;
  position: absolute;
  background-color: white;
  border-top: 5px solid black;
  padding: 20px;
  line-height: 25px;
  margin-left: 15%;
}
.form-banner .content-form
{

}

.form-banner .content-form .title
{
  font-weight: bold;
  font-size: 16px;
}

.form-banner .content-form .text
{
  font-size: 12px;
}

.form-banner .content-form input[type="text"]
{
  border: none;
  border-bottom: 1px solid #999999;
  text-align: center;
}

.form-banner .content-form input[type="button"]
{
  border: none;
  background-color: #CA9C61;
  color: white;
  font-weight: 500;
  padding-left:  15px;
  padding-right:  15px;
}

.form-banner .content-form input[type="button"]:hover
{
  background-color: black;
  color: white;
}

.content-indicadores
{
  width: 100%;
  vertical-align: middle;
  display: flex;
  line-height: 15px;
}


.content-indicadores .indicador .title
{
  color: white;
}

.content-indicadores .indicador .contenido
{
  color: white;
}

.content-indicadores .indicador img
{
  width: 43px;
  height: 39px;
}

.indicador
{
  width: 33.33333%;
  display: inline-block;
  padding: 20px;
  height: 140px;
}

.black
{
  background-color: black;
}

.melon
{
  background-color: #CA9C61;
}

.indicadores
{
  clear: both;
  position: absolute;
  height: 140px;
  width: 100%;
}

.servicios
{
  clear: both;
  width: 100%;
}

.content-servicios
{
  width: 100%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center; 
  font-weight: bold;
  font-size: 16px;
}

.line
{
  width: 100%;
  text-align: center;
}

.line span
{

  width: 100%;
  border-top: 3px solid #CC9E57;
}

.dv-serviciont
{
  width: 44%;
  display: inline-block;
  margin-bottom: 2%;
  position: relative;
}

.image {
  display: block;
  width: 92%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(204,158,87,.50);
}

.dv-serviciont:hover .overlay {
  opacity: 1;
}

.dv-serviciont .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.servicios input[type="button"]
{
  border: none;
  background-color: #CA9C61;
  color: white;
  font-weight: 500;
  padding-left:  15px;
  padding-right:  15px;
  padding-top: 4px;
  padding-bottom: 4px;

}

.servicios input[type="button"]:hover
{
  background-color: black;
  color: white;
}

.colaboradores
{
  background-color: black;
  padding: 2%;
}

.content-colaboradores span
{
  color: white;
  font-size: 16px;
}

.colaboradores .dv-colaboradorint
{
  width: 35%;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.colaboradores .dv-colaboradorint .img-colabordor
{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

.colaboradores .dv-colaboradorint .txt-colaborador
{
    width: 55%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.colaboradores .dv-colaboradorint .txt-colaborador .nombre-col
{
    font-weight: 600;
}

.colaboradores .dv-colaboradorint .txt-colaborador .titulo-col
{
    font-weight: normal;
    font-size: 13px;
    color:#CC9E57;
}

.colaboradores .dv-colaboradorint .txt-colaborador .descripcion-col
{
    font-weight: normal;
    font-size: 13px;
}

.colaboradores .dv-colaboradorint span
{
  color: white;
  font-size: 16px;
}

.noticias
{
  clear: both;
  width: 100%;
}

.content-noticias
{
  width: 100%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center; 
  font-weight: bold;
  font-size: 16px;
}

.dv-noticiant
{
  width: 24%;
  display: inline-block;
  text-shadow: none;
  text-align: left;
  padding-right: 2%;
}

.dv-noticiant .dv-fechanoticia
{
  text-align: left;
  padding-top: 10px;
}

.dv-noticiant .contenido-noticia
{
  width: 100%;
  padding-top: 10px;
  text-align: justify;
  min-height: 170px;

}

.dv-noticiant .separador-fechanoticia
{
  width: 100%;
  background-color: #c6c6c6;
  height: 1px;
}

.dv-noticiant .separador-noticia
{
  width: 100%;
  margin-top: 20px;
  background-color: #CC9E57;
  height: 3px;
}

.dv-noticiant .fecha-noticia
{
  text-align: left;
  color: #c6c6c6;
  font-size: 13px;
  font-weight: normal;
}


.dv-noticiant .tit-noticia
{
  text-align: left;
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.dv-noticiant .txt-noticia
{
  text-align: justify;
  color: gray;
  font-size: 13px;
  font-weight: normal;
}

.dv-noticiaimg
{
  margin-bottom: 2%;
  position: relative;
}

.dv-noticiaimg img
{
  width: 100%; 
}

.dv-noticiaimg .overlay
{
  width: 100%; 
}

.dv-noticiaimg:hover .overlay {
  opacity: 1;
}

.dv-noticiaimg .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.footer
{
  background-color: black;
  clear: both;
  width: 100%;
}

.footer .content-footer
{
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left; 
  font-weight: bold;
  font-size: 13px;
  color: white;
  line-height: 25px;
}

.footer .content-footer .logo
{
  vertical-align: initial;
  margin-top: 0px;
}

.footer .content-footer .columna-footer
{
  display: inline-block;
  width: 32%;
  vertical-align: middle;
}

.footer .content-footer .columna-footer .columna1
{
  padding: 0px;
  display: inline-block;
  width: 49%;
  color: white;
}

.footer .content-footer .columna-footer .columna2
{
  padding: 0px;
  display: inline-block;
  width: 49%;
  color: white;
}

/******  Fin Home ******/

/******  Inicio Quienes Somos ******/

.banner-seccion
{
  width: 100%;
}

.content
{
  clear: both;
  width: 100%;
}

.content .content-seccion
{
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.content .content-seccion .tit-seccion
{
  font-weight: 700;
  font-size: 16px;
}

/******  Fin Quienes Somos ******/